@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-size: 10px;
}
:root {
  --prm: #2f4858;
  --sec: #f7a61c;
  --w: #edf2ef;
  --bc: #4b888a;
}

body {
  background-color: var(--bc);
}
.sidebar {
  position: fixed;
  width: 300px;
  background-color: var(--prm);
  height: 100%;
  padding: 1.5rem;
  top: 0%;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}
.sidebar .userinfo{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.userinfo .username{
  font-size: 2.5rem;
  color: white;
  margin-bottom: 0.5rem;
}
.userinfo .logout{
  font-size: 1.6rem;
  color: white;
  cursor: pointer;

}
.userinfo .logout:hover{
  color: #f7a61c;
}
.logout i{
  font-size: 1.2rem;
}
.sidebar .logo {
  display: flex;
  justify-content: space-between;
}
.sidebar .logo p {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  color: var(--w);
  margin-bottom: 2rem;
  display: flex;
}

.sidebar .logo p i {
  position: relative;
  right: -0.8rem;
  font-size: 3rem;
  color: #f7a61c;
  cursor: pointer;
}
.sidebar ul li {
  font-size: 3rem;
  list-style: none;
  display: flex;
  margin: 1.5rem 0;
}
.sidebar ul li a {
  color: var(--sec);
  text-decoration: none;
  font-size: 2rem;
  margin-left: 1rem;
  transition: all 1s ease-in-out;
}

.sidebar ul li .active {
  border-bottom: 1px solid var(--sec);
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main h2 {
  font-size: 3rem;
  color: var(--sec);
  font-weight: 500;
}
.main .info,
.main .info a {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
  color: #2f4858;
}
.main .info a:hover {
  color: #07273a;
}
.create {
  width: 410px;
  margin: auto;
  box-shadow: 0 0 5px 0 #2f4858;
  padding: 1rem;
  background-color: #2f4858;
  border-radius: 3px;
  position: relative;
  font-size: 1.6rem;
  color: var(--sec);
  margin-top: 2rem;
}
.create form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.create form input {
  width: 400px;
  height: 40px;
  outline: none;
  font-size: 2rem;
  margin-bottom: 0.2rem;
  padding: 0.5rem;
}
.create form .iteminput {
  height: 80px;
  width: 100%;
  padding: 0.5rem;
  outline: none;
  resize: none;
  font-size: 1.8rem;
}
.create .save {
  position: absolute;
  right: 1%;
  top: 0%;
  height: 2.6rem;
  background-color: #2f4858;
  font-size: 1.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffd07f;
}
.create .add {
  position: absolute;
  right: 0.5%;
  top: 140px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  outline: none;
  border: 1px solid #2f4858;
  background-color: #fff;
  cursor: pointer;
}
.create .add:active {
  background-color: #36582f;
  color: white;
}

.create .item div {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  max-width: 98%;
  word-break: break-all;
}
.create .item div i {
  font-size: 1.8rem;
  color: var(--sec);
  cursor: pointer;
}
.create .item div i:hover {
  color: red;
}


.notes-container {
  color: #2f4858;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.note-wrapper {
  margin: 2rem;
  background-color: #ffffff;
  width: 27rem;
  word-break: break-all;
  height: 23rem;
  overflow-y: hidden;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: all 500ms ease-in-out;
  border: 2px solid #005a61;
}
.note-card {
  width: 100%;
  word-break: break-all;
  height: fit-content;
  overflow-y: hidden;
  padding: 0.6rem;
  position: relative;
}
.note-card .note-title {
  font-size: 3rem;
  border-bottom: 2px solid #5c7172;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: 500;
}
.note-card .note-title-time .title{
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.note-title-time{
  display: flex;
  flex-direction: column;
}
.note-card .note-title .time{
  font-size: 1.2rem;

}
.note-card .note-title i {
  font-size: 2.2rem;
  cursor: pointer;
}
.note-card .note-title i:hover {
  color: black;
}
.note-items .item {
  font-size: 2.2rem;
}
.heading {
  text-align: center;
  font-size: 3rem;
  color: var(--sec);
  margin: 2rem auto;
  text-shadow: 0 0 3px rgb(0, 0, 0);
}
.notes-container .open-note {
  position: fixed;
  top: -20px;
  min-width: 120%;
  min-height: 102vh;
  background-color: #2f4858;
  z-index: 10000;
  overflow-y: auto;
}
.notes-container .open-note .note-card {
  width: 50rem;
  height: fit-content;
  font-size: 4rem;
  background-color: #d3f4f5;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  margin: auto;
  margin-top: 10rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
  color: black;
  border: 2px solid #00595f;
}
.note-settings {
  position: absolute;
  top: 0%;
  right: 5%;
  background-color: #d3f5d8;
  box-shadow: 0 0 3px 0 grey;
}
.note-settings ul li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.5rem 0.2rem;
  padding: 0 0.3rem 0 0.3rem;
  cursor: pointer;
}
.note-settings ul li:hover {
  background-color: #5c7172;
}

.signup_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signup_wrapper .sign_toggle{
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 3rem;
}

.signup_wrapper .sign_toggle div{
  font-size: 3rem;
  color: #edf2ef;
  width: 100%;
  cursor: pointer;

}
.signup {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 1rem;
  width: 50%;
  box-shadow: 0 0 3px 0 #000b11;
  margin: auto;
  margin-top: 5rem;
  background-color: #07273a;
}
.signup h2 i {
  font-size: 2.6rem;
  color: var(--sec);
  margin-bottom: 3rem;
}
.signup h2 {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}

.sign_toggle.sign_div , .sign_toggle.log_div{
  transition: all 0.5s ease;
  padding-bottom: 5rem;
}
.signup .signup_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.signup .signup_form p{
  font-size: 1.2rem;
  color: #edf2ef;
  margin-bottom: 1rem;
  width: 50%;
}
.signup .signup_form input {
  width: 55%;
  height: 3rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  outline: none;
  padding-left: 1rem;
}
.signup .signup_form button {
  width: 55%;
  font-size: 2rem;
  font-weight: 500;
  background-color: var(--sec);
  padding: 1rem;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
.signup .signup_form button:hover{
  background-color: #ac6d00;
}
.signup .signup_form button:active{
  background-color: #d3f5d8;
}
/* Responsive */

@media screen and (max-width: 650px) {
  * {
    font-size: 8px;
  }
  .sidebar {
    width: 170px;
  }

  .notes-container .open-note .note-card {
    width: 40rem;
    font-size: 3rem;
  }
  .create {
    width: 310px;
  }

  .create form input {
    width: 300px;
    height: 40px;
  }
  .signup {
    width: 80%;

  }
}
